<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <link rel="icon" href="/view/imgs/favicon.ico"> -->
    <link rel="stylesheet" href="/view/css/bootstrap.min.css">
    <link rel="stylesheet" href="/view/css/welcomePage.css">

    <style>
      html {height:100%; width: 100%; margin: 0;}
      body {height:100%; width: 100%; background-color: black; margin: 0;}
    </style>
</head>
<body>
  <div id="welcomePage" class='h-100 w-100 blackBackground alignCenter'>
      <pre class='whiteColor centerText cursor d-none' id="content">
        <span class='welcomePageText' id="greetingContent"></span>
        <span class='welcomePageText' id="jobTitleContetn"></span>
        <span class='welcomePageText' id="msgContent"></span>
      </pre>
    </div>
  </div>

  <div id="homePage" class="blackBackground h-100 w-100 d-none" style='opacity:0'>
    <section id="topPart" class="container-fluid h-100 w-100" style="max-width:1170px;">
      <header id="aboutHeader" class="blackBackground w-100">
        <span id="navBrand">
        </span>
        <a id="cnLangLink"><img id="cnLangIcon" class="d-none" src="/view/imgs/cn-language_icon.png" style="position: absolute; padding: 0; max-width: 1.5%; min-width: 18px; top: 15px; margin-bottom: 2px; right:12%;  background:black; border: none;" width="100%"></a>
        <a id="enLangLink"><img id="enLangIcon" class="d-none" src="/view/imgs/en-language_icon.png" style="position: absolute; padding: 0; max-width: 1.5%; min-width: 18px; top: 15px; margin-bottom: 2px; right:12%;  background:black; border: none;" width="100%"></a>
        <a id="jpLangLink"><img id="jpLangIcon" class="d-none" src="/view/imgs/jp-language_icon.png" style="position: absolute; padding: 0; max-width: 1.5%; min-width: 18px; top: 15px; margin-bottom: 2px; right:12%;  background:black; border: none;" width="100%"></a>
        <a id="menuIcon"><img src="/view/imgs/menu.png" style="position: absolute; padding: 0; top: 15px; right: 3%; background: black; min-width: 25px; max-width: 2.8%; margin-bottom: 2px; border: none;" width="100%"></a>
      </header>
      <div class="row h-100 ">
        <div class="col h-100" id="about">
<pre id="aboutContent" class="whiteColor cursor" style="position: absolute; top: 30%; left:8%; font-size: 1.1vw">
</pre>
        </div>
        <div class="col alignCenter" id="photoAndContact">
          <div>
            <img id="linkedInIcon" src="/view/imgs/In-White-94px-TM.png" width='20%' style="position: absolute">
            <img id="resumeIcon" src='/view/imgs/resume.png' width="15%" style="float: right;">
            <img id="githubIcon" src="/view/imgs/GitHub-Mark-Light-120px-plus.png" width='20%' style="position:absolute; margin-left:43%">
          </div>
        </div>
      </div>
      <div id='downArrow' style="position: absolute; top: 78%; left: 50%; max-width: 3%;">
        <img src="/view/imgs/down-arrow.png" style="width: 100%;">
      </div>
    </section>
    <section id="experiencePart" class="container" style="color:white; background: black; padding-top: 2%; padding-bottom: 1%">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
          <span style="font-size: 1.5vw;" id="expEduLabel"><b>Education</b></span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
          <div class="row" id="educationRow">
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
          <span style="font-size: 1.5vw;" id="expExpLabel"><b>Experience</b></span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
          <div class="row" id="experienceRow">
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
          <span style="font-size: 1.5vw;" id="expProjLabel"><b>Projects</b></span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
          <div class="row" id="projectsRow">
          </div>
        </div>
      </div>
    </section>
    <section id="skillsPart" class="container" style="padding-bottom: 2%">
      <div id="skillsContent" class="row" style="padding-top: 2%; padding-bottom:1%;">
        <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12" style="margin-bottom: 1vw;">
          <span class="whiteColor" style="font-size: 2vw;" id="skillLabel"><b>Skills</b></span>
        </div>
      </div>
    </section>
    <section id="certificationPart" class="container" style="background: black; padding-bottom: 2%;">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
          <span  style="font-size: 2vw; color: white;" id="certLabel"><b>Certifications</b></span>
        </div>
        <div id="certCol1" class="col-md-6 col-sm-12 col-xs-12 col-xxs-12">
        </div>
        <div id="certCol2" class="col-md-6 col-sm-12 col-xs-12 col-xxs-12">
        </div>
      </div>
    </section>
    <section id="hobbyPart" class="container" style="padding-bottom: 2%;">
      <div class="row" id="hobbyRow">
        <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
          <span style="color: white; font-size: 2vw;" id="hobbyLabel"><b>Hobby</b></span>
        </div>
      </div>
    </section>
    <footer>
      <div style="text-align: center; color:white;">
        © Copyright Zeyuan Xue 2018 - Version 1.3beta - Majorly for Desktop
      </div>
    </footer>
  </div>


  <!-- Load jquery. -->
  <script src="/view/js/jquery-3.3.1.min.js"></script>

  <!-- Load bootstrap. -->
  <script src="/view/js/bootstrap.min.js"></script>

  <script src="/view/js/getLanguage.min.js"></script>
  <script src="/view/js/typing.min.js"></script>
  <script src="/view/js/transition.min.js"></script>
  <script src="/view/js/homePage.min.js"></script>

</body>
</html>
